.DS_Store
Thumbs.db
node_modules/

.pnpm-store/

yarn.lock
package-lock.json
.expo/
.expo-shared/
metro-cache/
.babel-cache/
.fast-refresh/
android/app/build/
android/.gradle/
android/build/

.gradle/
android/local.properties

ios/Pods/
ios/DerivedData/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/project.xcuserdatad
ios/*.xcodeproj/xcuserdata
*.tsbuildinfo
dist/
out/
tmp/
tmp/**
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.iml
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
lcov.info
*.lcov
jest/
jest-cache/
artifacts/mobile/assets_raw/

